# Week 08: Linear Regression for Imputation

In [1]:
# get data
import seaborn as sns

df = sns.load_dataset('mpg')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [2]:
missing_values = df.loc[df['horsepower'].isnull()]
print(missing_values.head())

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0         NaN    2046          19.0
126  21.0          6         200.0         NaN    2875          17.0
330  40.9          4          85.0         NaN    1835          17.3
336  23.6          4         140.0         NaN    2905          14.3
354  34.5          4         100.0         NaN    2320          15.8

     model_year  origin                  name
32           71     usa            ford pinto
126          74     usa         ford maverick
330          80  europe  renault lecar deluxe
336          80     usa    ford mustang cobra
354          81  europe           renault 18i

In [3]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 30.6+ KB

In [4]:
df.drop(['origin', 'name'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 24.5 KB

In [5]:
# train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.drop('horsepower', axis=1), 
    df['horsepower'], 
    test_size=0.25, 
    random_state=42)

In [6]:
# create and train the model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

model = LinearRegression()
model.fit(X_train, y_train)

# test set prediction results
predictions = model.predict(X_test)

In [7]:
# get original dataset
import numpy as np

df = sns.load_dataset('mpg')
df.info()

for i, idx in enumerate(missing_values.index):
    df.loc[idx, 'horsepower'] = str(round(predictions[i]))

df['horsepower'] = df['horsepower'].astype(np.int64)
print(df.loc[missing_values.index])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0          71    2046          19.0
126  21.0          6         200.0          92    2875          17.0
330  40.9          4          85.0          64    1835          17.3
336  23.6          4         140.0          55    2905          14.3
354  34.5          4         100.0          90    2320          15.8
374  23.0          4         151.0          74    3035          20.5

     model_year  origin                  name
32           71     usa            ford pinto
126          74     usa         ford maverick
330          80  europe  renault lecar deluxe
336          80     usa    ford mustang cobra
354          81  europe           renault 18i
374          82     usa        amc concord dl
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None