# Week 08: Coding Practice

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'1': [11, 21, 31],
                    '2': [12, 22, 32],
                    '3': [13, 23, 33],
                    'key': ['k1', 'k2', 'k3']},
                    index=[1, 2, 3])

df1

In [ ]:
df2 = pd.DataFrame({'1': [41, 51, 61],
                    '2': [42, 52, 62],
                    '3': [43, 53, 63],
                    'key': ['k1', 'k2', 'k3']},
                    index=[4, 5, 6])

df2

In [ ]:
df3 = pd.DataFrame({'1': [71, 81, 91],
                    '2': [72, 82, 92],
                    '3': [73, 83, 93],
                    'key': ['k1', 'k2', 'k3']},
                    index=[7, 8, 9])

df3

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
df4 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df4

In [ ]:
df5 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df5

In [ ]:
# concatenation

In [ ]:
# conactenation, axis=1

In [ ]:
# more concat

In [ ]:
# inner merge

In [ ]:
# outer merge

In [ ]:
# concat reminder

In [ ]:
# right merge

In [ ]:
# left merge

In [ ]:
# new dataframe
df6 = pd.DataFrame({'left': ['foo', 'bar']})
df7 = pd.DataFrame({'right': [6, 7]})
pd.concat([df6, df7], axis=1)

In [ ]:
# cross merge

In [ ]:
# https://www.w3resource.com/pandas/dataframe/dataframe-pivot.php
import numpy as np
import pandas as pd

df8 = pd.DataFrame({'A': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'B': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                   'C': [2, 3, 4, 5, 6, 7],
                   'D': ['h', 'i', 'j', 'k', 'l', 'm']})

df8

In [ ]:
# pivot

In [ ]:
# another way

In [ ]:
# df8

In [ ]:
# pivot with two value columns